<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ "task 3" }}</h1>

<ul>
{% for rec in result %}
    <li>{{ rec.track }}---{{ rec.Quantity }}</li>
{% endfor %}
</ul>
</body>
</html>