<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ "task 2" }}</h1>

<div>{{ result.Price }} * {{ result.count }} = {{ result.sum }}</div>


</body>
</html>